<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- properties resource="JDBC.properties"/>   -->
 	<properties resource="jdbc.config.properties" />
 	
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="poolPingQuery" value="select now()"/>
                <property name="poolPingEnabled" value="true"/>
            </dataSource>
        </environment>
    </environments>
 
    <!--将写好的userMapper.xml映射文件注册到全局配置文件mybatis-config.xml中-->
    <mappers>
        <mapper resource="userMapper.xml"/>
        <mapper resource="departmentMapper.xml"/>
        <mapper resource="tablePrototypeMapper.xml"/>
        <mapper resource="tableMapper.xml"/>
        <mapper resource="tableStatistics.xml"/>
    </mappers>
 
</configuration>