<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.mm.mybatis.TablePrototype" >

    <select id="findByName" parameterType="java.lang.String" resultType="com.mm.mybatis.TablePrototype">
		select * from  _table_prototype where _owner = #{name}
    </select>
    
    <select id="findByDeptId" parameterType="int" resultType="com.mm.mybatis.TablePrototype">
		select * from  _table_prototype where  _type = 1
			<if test="_parameter != 0">
				and _dept_id = #{_parameter}
			</if>
    </select>
    
    <insert id="insert" parameterType="com.mm.mybatis.TablePrototype">
       INSERT INTO _table_prototype (_type, _name, _name_cn, _data_type, _max_len, _owner, _html, _dept_id)
       		 VALUES (#{_type}, #{_name}, #{_name_cn}, #{_data_type}, #{_max_len}, #{_owner}, #{_html}, #{_dept_id})
    </insert>
    
    <update id="update" parameterType="map">
       UPDATE _table_prototype t SET 
       	 <foreach collection="_parameter.keys"  item="key" separator=",">
       	 	<if test = ' "${key}" != "_id" ' >
       	 		${key} = #{_parameter[${key}]}
       	 	</if>
       	 </foreach>
          WHERE _id = #{_id};
          
          <if test='_max_len != null' >
          	 alter table ${_owner} modify ${_name} varchar( ${_max_len} )
          </if>
    </update>
    
    <delete id="delete" parameterType="java.lang.String" >
        DELETE FROM _table_prototype  WHERE _owner = #{name}
    </delete>
    
    <delete id="deleteColumn" parameterType="Long" >
        DELETE FROM _table_prototype  WHERE _id = #{id}
    </delete>
    
    <insert id="createTableStructure" parameterType="com.mm.mybatis.TablePrototype">
       create table  ${_name} (
       	   _id integer PRIMARY KEY auto_increment
       )
    </insert>
    
    <insert id="addColumn" parameterType="com.mm.mybatis.TablePrototype">
       alter table ${_owner} add column ${_name}
       	  <choose>
       	  	<when test = '_data_type == "str" ' > varchar(${_max_len})  </when>
       	  	<when test = '_data_type == "lstr"' > TEXT(${_max_len})  </when>
       	  </choose>
    </insert>
    
</mapper>