<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.mm.mybatis.User" >

	<resultMap id="User-ResultMap" type="com.mm.mybatis.User">
        <id column="_id" jdbcType="INTEGER" property="id" />
        <result column="_name" jdbcType="VARCHAR" property="name" />
        <result column="_password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <select id="findByName"  resultMap="User-ResultMap">
		select * from _user t where t._name = #{name}
    </select>
    
    <select id="findAll"  resultMap="User-ResultMap">
		select * from _user
    </select>
    
    <insert id="insert" parameterType="com.mm.mybatis.User">
       INSERT INTO _user (_name, _password) VALUES (#{name}, #{password})
    </insert>
    
    <update id="updatePassword" parameterType="com.mm.mybatis.User">
       UPDATE _user t SET t._password = #{password}  WHERE t._id = #{id};
    </update>
    
    <delete id="delete" >
        DELETE FROM _user  WHERE _id in 
        <foreach item="id" collection="array" open="(" close=")" separator=",">
        	#{id}
        </foreach>
    </delete>
    
</mapper>